USE [master]
GO
/****** Object:  Database [niza_isabela]    Script Date: 01/08/2026 10:55:05 p. m. ******/
CREATE DATABASE [niza_isabela]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'niza_isabela', FILENAME = N'D:\DATA_SQL\HOME_SQL_RSY\MSSQL\Data\niza_isabela.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'niza_isabela_log', FILENAME = N'D:\DATA_SQL\HOME_SQL_RSY\MSSQL\Log\niza_isabela_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [niza_isabela].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [niza_isabela]
GO
/****** Object:  Table [dbo].[compras_cursos]    Script Date: 01/08/2026 10:55:06 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[compras_cursos](
	[id] [uniqueidentifier] NOT NULL,
	[usuario_id] [uniqueidentifier] NOT NULL,
	[curso_id] [uniqueidentifier] NOT NULL,
	[monto] [decimal](10, 2) NOT NULL,
	[estado_pago] [varchar](12) NOT NULL,
	[referencia_externa] [varchar](150) NULL,
	[created_at] [datetime2](7) NULL,
	[pedido_id] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[configuracion]    Script Date: 01/08/2026 10:55:06 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[configuracion](
	[clave] [varchar](100) NOT NULL,
	[valor] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[clave] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ContactoMensajes]    Script Date: 01/08/2026 10:55:06 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContactoMensajes](
	[ContactoMensajeID] [uniqueidentifier] NOT NULL,
	[Nombre] [nvarchar](150) NOT NULL,
	[Correo] [nvarchar](150) NOT NULL,
	[Mensaje] [nvarchar](max) NOT NULL,
	[FechaEnvio] [datetime2](7) NOT NULL,
	[Leido] [bit] NOT NULL,
	[Telefono] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ContactoMensajeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cotizaciones]    Script Date: 01/08/2026 10:55:06 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cotizaciones](
	[id] [uniqueidentifier] NOT NULL,
	[usuario_id] [uniqueidentifier] NULL,
	[producto_id] [uniqueidentifier] NULL,
	[sucursal_id] [uniqueidentifier] NULL,
	[tamaño] [varchar](50) NULL,
	[sabor] [varchar](100) NULL,
	[relleno] [varchar](100) NULL,
	[decoracion_texto] [varchar](max) NULL,
	[foto_referencia_url] [varchar](500) NULL,
	[mensaje_pastel] [varchar](255) NULL,
	[fecha_deseada] [date] NOT NULL,
	[estado] [varchar](12) NOT NULL,
	[created_at] [datetime2](7) NULL,
	[nombre_cliente] [nvarchar](150) NULL,
	[telefono_cliente] [nvarchar](20) NULL,
	[email_cliente] [nvarchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cursos]    Script Date: 01/08/2026 10:55:06 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cursos](
	[id] [uniqueidentifier] NOT NULL,
	[nombre] [varchar](150) NOT NULL,
	[descripcion] [varchar](max) NULL,
	[precio] [decimal](10, 2) NOT NULL,
	[portada_url] [varchar](500) NULL,
	[archivo_pdf_url] [nvarchar](500) NULL,
	[activo] [bit] NULL,
	[created_at] [datetime2](7) NULL,
	[DescuentoActivo] [bit] NOT NULL,
	[PorcentajeDescuento] [decimal](5, 2) NOT NULL,
	[FechaInicioDescuento] [date] NULL,
	[FechaFinDescuento] [date] NULL,
	[ArchivoVideoUrl] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[direcciones]    Script Date: 01/08/2026 10:55:06 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[direcciones](
	[id] [uniqueidentifier] NOT NULL,
	[usuario_id] [uniqueidentifier] NOT NULL,
	[direccion] [varchar](255) NOT NULL,
	[referencias] [varchar](255) NULL,
	[zona_delivery] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pagos]    Script Date: 01/08/2026 10:55:06 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pagos](
	[id] [uniqueidentifier] NOT NULL,
	[pedido_id] [uniqueidentifier] NOT NULL,
	[proveedor] [varchar](50) NULL,
	[monto] [decimal](10, 2) NOT NULL,
	[estado] [varchar](12) NOT NULL,
	[referencia_externa] [varchar](150) NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pedido_items]    Script Date: 01/08/2026 10:55:06 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pedido_items](
	[id] [uniqueidentifier] NOT NULL,
	[pedido_id] [uniqueidentifier] NOT NULL,
	[producto_id] [uniqueidentifier] NULL,
	[opcion_id] [uniqueidentifier] NULL,
	[cantidad] [int] NOT NULL,
	[precio_unitario] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pedidos]    Script Date: 01/08/2026 10:55:06 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pedidos](
	[id] [uniqueidentifier] NOT NULL,
	[usuario_id] [uniqueidentifier] NULL,
	[sucursal_id] [uniqueidentifier] NULL,
	[tipo_entrega] [varchar](10) NOT NULL,
	[direccion_id] [uniqueidentifier] NULL,
	[fecha_entrega] [date] NOT NULL,
	[estado] [varchar](15) NOT NULL,
	[total] [decimal](10, 2) NOT NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[producto_opciones]    Script Date: 01/08/2026 10:55:06 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[producto_opciones](
	[id] [uniqueidentifier] NOT NULL,
	[producto_id] [uniqueidentifier] NOT NULL,
	[tipo_opcion] [varchar](15) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[precio_extra] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[productos]    Script Date: 01/08/2026 10:55:06 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[productos](
	[id] [uniqueidentifier] NOT NULL,
	[nombre] [varchar](150) NOT NULL,
	[descripcion] [varchar](max) NULL,
	[tipo] [varchar](15) NOT NULL,
	[precio_base] [decimal](10, 2) NULL,
	[foto_url] [varchar](500) NULL,
	[activo] [bit] NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sucursales]    Script Date: 01/08/2026 10:55:06 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sucursales](
	[id] [uniqueidentifier] NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[direccion] [varchar](255) NOT NULL,
	[horario] [varchar](100) NULL,
	[telefono] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuarios]    Script Date: 01/08/2026 10:55:06 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuarios](
	[id] [uniqueidentifier] NOT NULL,
	[nombre] [varchar](150) NOT NULL,
	[email] [varchar](150) NOT NULL,
	[password_hash] [varchar](255) NOT NULL,
	[telefono] [varchar](20) NULL,
	[rol] [varchar](10) NOT NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[configuracion] ([clave], [valor]) VALUES (N'correo_notificaciones', N'ricardosilvayescas@gmail.com')
INSERT [dbo].[configuracion] ([clave], [valor]) VALUES (N'dias_minimos_anticipacion', N'5')
INSERT [dbo].[configuracion] ([clave], [valor]) VALUES (N'whatsapp_contacto', N'+5512310788')
GO
INSERT [dbo].[ContactoMensajes] ([ContactoMensajeID], [Nombre], [Correo], [Mensaje], [FechaEnvio], [Leido], [Telefono]) VALUES (N'73806c9d-b1c8-4bb5-bf55-23f2c998515f', N'Ricardo', N'silvayescasricardo@gmail.com', N'Holaaa', CAST(N'2026-07-07T17:27:57.7530533' AS DateTime2), 1, NULL)
INSERT [dbo].[ContactoMensajes] ([ContactoMensajeID], [Nombre], [Correo], [Mensaje], [FechaEnvio], [Leido], [Telefono]) VALUES (N'31e5b5fa-622c-4bd5-bfd9-270811c35c12', N'Prueba', N'prueba@test.com', N'Mensaje de prueba', CAST(N'2026-07-07T17:04:47.0269513' AS DateTime2), 1, NULL)
INSERT [dbo].[ContactoMensajes] ([ContactoMensajeID], [Nombre], [Correo], [Mensaje], [FechaEnvio], [Leido], [Telefono]) VALUES (N'f05ac2cd-353c-4709-94a7-8c0c58674394', N'CARLOS', N'ricardosilvayescas@gmail.com', N'Holaaa', CAST(N'2026-07-07T17:35:48.5364628' AS DateTime2), 1, NULL)
GO
INSERT [dbo].[cursos] ([id], [nombre], [descripcion], [precio], [portada_url], [archivo_pdf_url], [activo], [created_at], [DescuentoActivo], [PorcentajeDescuento], [FechaInicioDescuento], [FechaFinDescuento], [ArchivoVideoUrl]) VALUES (N'133f8ba7-df73-4503-8745-8ef1b8adddf8', N'Pasteles para Ocasiones Especiales', N'Recetario completo para XV años, bodas y cumpleaños. 55 páginas.', CAST(5000.00 AS Decimal(10, 2)), N'/img/curso-ocasiones.jpg', N'', 1, CAST(N'2026-07-05T21:39:27.8306722' AS DateTime2), 0, CAST(35.00 AS Decimal(5, 2)), NULL, NULL, NULL)
GO
INSERT [dbo].[producto_opciones] ([id], [producto_id], [tipo_opcion], [nombre], [precio_extra]) VALUES (N'a9dd8938-9515-4a12-9e95-f28e8410aa22', N'ac936c44-7f44-4ff2-addd-1702bf2a00d8', N'tamaño', N'40', CAST(0.00 AS Decimal(10, 2)))
GO
INSERT [dbo].[productos] ([id], [nombre], [descripcion], [tipo], [precio_base], [foto_url], [activo], [created_at]) VALUES (N'8bde8e52-fbdc-447b-9b40-08b66ed1c340', N'Web', N'', N'fijo', CAST(10.00 AS Decimal(10, 2)), N'https://nizaisabelastorage01.blob.core.windows.net/archivos-publicos/imagen/032998c4-0b23-4caf-9adf-320d703cca7f.jpg', 1, CAST(N'2026-07-14T05:39:29.5210189' AS DateTime2))
INSERT [dbo].[productos] ([id], [nombre], [descripcion], [tipo], [precio_base], [foto_url], [activo], [created_at]) VALUES (N'91c2e4d3-4fae-4aba-99b6-099a61e72786', N'Back', N'', N'fijo', CAST(10.00 AS Decimal(10, 2)), N'https://nizaisabelastorage01.blob.core.windows.net/archivos-publicos/imagen/89e7172e-c0d2-4a09-99cb-82c794056623.jpeg', 1, CAST(N'2026-07-14T05:44:41.2890981' AS DateTime2))
INSERT [dbo].[productos] ([id], [nombre], [descripcion], [tipo], [precio_base], [foto_url], [activo], [created_at]) VALUES (N'2535c1a0-3ba2-44eb-b414-108dba88f88e', N'Pastel Temático Para Bodas', N'Ideal para ocasiones especiales.', N'personalizable', CAST(130.00 AS Decimal(10, 2)), N'https://nizaisabelastorage01.blob.core.windows.net/archivos-publicos/imagen/aa676343-89db-4e2c-a330-889586bfdbf0.jpeg', 1, CAST(N'2026-07-05T21:39:27.8306722' AS DateTime2))
GO
INSERT [dbo].[sucursales] ([id], [nombre], [direccion], [horario], [telefono]) VALUES (N'c111c664-6f83-48cd-ac09-281b8b63b49b', N'Sucursal 1 — Centro Volcanes', N'Av. Lic. Benito Juárez 3-Loc A, Centro, 56900 Amecameca de Juárez, Méx.', N'Lun–Sáb 9:00–19:00', N'5500000000')
INSERT [dbo].[sucursales] ([id], [nombre], [direccion], [horario], [telefono]) VALUES (N'974ddf2f-93fc-452b-b305-5b7b63f4655d', N'Sucursal 2 - Por los tacos', N'Calle Insurgentes', N'Lun–Sáb 9:00–19:00', N'5500000001')
GO
INSERT [dbo].[usuarios] ([id], [nombre], [email], [password_hash], [telefono], [rol], [created_at]) VALUES (N'31fa6cc3-2bbd-4aca-8a51-703b4d9675de', N'RICARDO SILVA YESCAS', N'ricardosilvayescas@gmail.com', N'$2b$12$R0bgEDdic6Gw18gs6iP1WOCed6.48kNucJ/I5h.3P7Df8qPYwF8x.', N'5512310788', N'admin', CAST(N'2026-07-07T17:58:05.3814747' AS DateTime2))
INSERT [dbo].[usuarios] ([id], [nombre], [email], [password_hash], [telefono], [rol], [created_at]) VALUES (N'c7c63031-451c-4f56-b9bc-f200c860a79f', N'Yasarely', N'yasaarely.grc@gmail.com', N'$2b$12$f7aNU1DVjT0pjCXeSM/sree4pyBmBop6UBISmxyPw/jFiNQJ6tdbu', N'5512310788', N'cliente', CAST(N'2026-07-13T00:24:44.2575910' AS DateTime2))
GO
/****** Object:  Index [IX_ContactoMensajes_Leido_Fecha]    Script Date: 01/08/2026 10:55:06 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_ContactoMensajes_Leido_Fecha] ON [dbo].[ContactoMensajes]
(
	[Leido] ASC,
	[FechaEnvio] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__pagos__CBE7607739EAF00A]    Script Date: 01/08/2026 10:55:06 p. m. ******/
ALTER TABLE [dbo].[pagos] ADD UNIQUE NONCLUSTERED 
(
	[pedido_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__usuarios__AB6E616487667AE3]    Script Date: 01/08/2026 10:55:06 p. m. ******/
ALTER TABLE [dbo].[usuarios] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[compras_cursos] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[compras_cursos] ADD  DEFAULT ('pendiente') FOR [estado_pago]
GO
ALTER TABLE [dbo].[compras_cursos] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[ContactoMensajes] ADD  DEFAULT (newid()) FOR [ContactoMensajeID]
GO
ALTER TABLE [dbo].[ContactoMensajes] ADD  DEFAULT (sysdatetime()) FOR [FechaEnvio]
GO
ALTER TABLE [dbo].[ContactoMensajes] ADD  DEFAULT ((0)) FOR [Leido]
GO
ALTER TABLE [dbo].[cotizaciones] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[cotizaciones] ADD  DEFAULT ('nueva') FOR [estado]
GO
ALTER TABLE [dbo].[cotizaciones] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[cursos] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[cursos] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[cursos] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[cursos] ADD  DEFAULT ((0)) FOR [DescuentoActivo]
GO
ALTER TABLE [dbo].[cursos] ADD  DEFAULT ((35.00)) FOR [PorcentajeDescuento]
GO
ALTER TABLE [dbo].[direcciones] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[pagos] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[pagos] ADD  DEFAULT ('mercado_pago') FOR [proveedor]
GO
ALTER TABLE [dbo].[pagos] ADD  DEFAULT ('pendiente') FOR [estado]
GO
ALTER TABLE [dbo].[pagos] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[pedido_items] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[pedido_items] ADD  DEFAULT ((1)) FOR [cantidad]
GO
ALTER TABLE [dbo].[pedidos] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[pedidos] ADD  DEFAULT ('recibido') FOR [estado]
GO
ALTER TABLE [dbo].[pedidos] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[producto_opciones] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[producto_opciones] ADD  DEFAULT ((0)) FOR [precio_extra]
GO
ALTER TABLE [dbo].[productos] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[productos] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[productos] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[sucursales] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[usuarios] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[usuarios] ADD  DEFAULT ('cliente') FOR [rol]
GO
ALTER TABLE [dbo].[usuarios] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[compras_cursos]  WITH CHECK ADD FOREIGN KEY([curso_id])
REFERENCES [dbo].[cursos] ([id])
GO
ALTER TABLE [dbo].[compras_cursos]  WITH CHECK ADD FOREIGN KEY([usuario_id])
REFERENCES [dbo].[usuarios] ([id])
GO
ALTER TABLE [dbo].[compras_cursos]  WITH CHECK ADD  CONSTRAINT [FK_compras_cursos_pedidos] FOREIGN KEY([pedido_id])
REFERENCES [dbo].[pedidos] ([id])
GO
ALTER TABLE [dbo].[compras_cursos] CHECK CONSTRAINT [FK_compras_cursos_pedidos]
GO
ALTER TABLE [dbo].[cotizaciones]  WITH CHECK ADD FOREIGN KEY([producto_id])
REFERENCES [dbo].[productos] ([id])
GO
ALTER TABLE [dbo].[cotizaciones]  WITH CHECK ADD FOREIGN KEY([sucursal_id])
REFERENCES [dbo].[sucursales] ([id])
GO
ALTER TABLE [dbo].[cotizaciones]  WITH CHECK ADD FOREIGN KEY([usuario_id])
REFERENCES [dbo].[usuarios] ([id])
GO
ALTER TABLE [dbo].[direcciones]  WITH CHECK ADD FOREIGN KEY([usuario_id])
REFERENCES [dbo].[usuarios] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[pagos]  WITH CHECK ADD FOREIGN KEY([pedido_id])
REFERENCES [dbo].[pedidos] ([id])
GO
ALTER TABLE [dbo].[pedido_items]  WITH CHECK ADD FOREIGN KEY([opcion_id])
REFERENCES [dbo].[producto_opciones] ([id])
GO
ALTER TABLE [dbo].[pedido_items]  WITH CHECK ADD FOREIGN KEY([pedido_id])
REFERENCES [dbo].[pedidos] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[pedido_items]  WITH CHECK ADD FOREIGN KEY([producto_id])
REFERENCES [dbo].[productos] ([id])
GO
ALTER TABLE [dbo].[pedidos]  WITH CHECK ADD FOREIGN KEY([direccion_id])
REFERENCES [dbo].[direcciones] ([id])
GO
ALTER TABLE [dbo].[pedidos]  WITH CHECK ADD FOREIGN KEY([sucursal_id])
REFERENCES [dbo].[sucursales] ([id])
GO
ALTER TABLE [dbo].[pedidos]  WITH CHECK ADD FOREIGN KEY([usuario_id])
REFERENCES [dbo].[usuarios] ([id])
GO
ALTER TABLE [dbo].[producto_opciones]  WITH CHECK ADD FOREIGN KEY([producto_id])
REFERENCES [dbo].[productos] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[compras_cursos]  WITH CHECK ADD CHECK  (([estado_pago]='rechazado' OR [estado_pago]='aprobado' OR [estado_pago]='pendiente'))
GO
ALTER TABLE [dbo].[cotizaciones]  WITH CHECK ADD CHECK  (([estado]='cerrada' OR [estado]='contactada' OR [estado]='nueva'))
GO
ALTER TABLE [dbo].[pagos]  WITH CHECK ADD CHECK  (([estado]='rechazado' OR [estado]='aprobado' OR [estado]='pendiente'))
GO
ALTER TABLE [dbo].[pedidos]  WITH CHECK ADD CHECK  (([estado]='entregado' OR [estado]='listo' OR [estado]='en_produccion' OR [estado]='recibido'))
GO
ALTER TABLE [dbo].[pedidos]  WITH CHECK ADD  CONSTRAINT [CK__pedidos__tipo_entrega] CHECK  (([tipo_entrega]='digital' OR [tipo_entrega]='delivery' OR [tipo_entrega]='recoger'))
GO
ALTER TABLE [dbo].[pedidos] CHECK CONSTRAINT [CK__pedidos__tipo_entrega]
GO
ALTER TABLE [dbo].[producto_opciones]  WITH CHECK ADD CHECK  (([tipo_opcion]='decoracion' OR [tipo_opcion]='relleno' OR [tipo_opcion]='sabor' OR [tipo_opcion]='tamaño'))
GO
ALTER TABLE [dbo].[productos]  WITH CHECK ADD CHECK  (([tipo]='personalizable' OR [tipo]='fijo'))
GO
ALTER TABLE [dbo].[usuarios]  WITH CHECK ADD CHECK  (([rol]='admin' OR [rol]='cliente'))
GO
USE [master]
GO
